.HUNTER {
    background-color: #aad372!important;
}
        .WARRIOR {
    background-color: #c69b6d!important;
}
        .ROGUE {
    background-color: #fff468!important;
}
        .MAGE {
    background-color: #3fc6ea!important;
}
        .PRIEST {
    background-color: #ffffff!important;
}
        .WARLOCK {
    background-color: #8787ed!important;
}
        .DRUID {
    background-color: #ff7c0a!important;
}
        .PALADIN {
    background-color: #f48cba!important;
}
        .SHAMAN {
    background-color: #0270dd!important;
}
        .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 65px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.SelectList
{
    position: relative;
    background-color: transparent;
    TOP:   -2px;
    left:-2px;
    border-width: 0px;
    border-top-style: none; 
    border-right-style: none; 
    border-left-style: none; 
    border-bottom-style: none;
    display:block;
    height: 20px;
    overflow:hidden;
    margin-left:40px;
    width:200px
}