<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Ares公会活动分数</title>
    <!--table-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://libs.cdnjs.net/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <script crossorigin="anonymous" integrity="sha384-fJU6sGmyn07b+uD1nMk7/iSb4yvaowcueiQhfVgQuD98rfva8mcr1eSvjchfpMrH" src="https://lib.baomitu.com/jquery/3.3.1/jquery.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.6.0/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/rowgroup/1.1.1/js/dataTables.rowGroup.min.js"></script>
    <!--wowhead-->
    <script>var whTooltips = {colorLinks: true, iconizeLinks: true, renameLinks: true};</script>
    <script src="https://wow.zamimg.com/widgets/power.js"></script>
    </head>
<body>
ID：<input value="{{dkp.id}}" disabled='disabled'></br>
时间：<input value="{{dkp.time}}" disabled='disabled'></br>
时间名称：<input id="boss" value="{{dkp.boss}}"></br>
所属列表：
<select disabled='disabled' id="dkp_list">
{% for i in Dkp_list %}
<option value="{{i.id}}" {% if i.id == dkp.belong%}selected{% endif %}>{{i.name}}</option>
{% endfor %}

</select></br>
分值：<input id="dkp" value="{{dkp.dkp}}"></br>
<div id="name_list">
{% for i in list %}
<input type="checkbox" value="{{i.name}}" {% if i.name in dkp.Player%}checked{% endif %}>{{i.name}}
{% endfor %}
</div>
{% csrf_token %}
</br><input type="submit" id="submit">

<script>
$(document).ready(function () {
  $("#submit").click(function(){
    name_list = [];
    csrf = $('input[name="csrfmiddlewaretoken"]').val();
    $("#name_list input").each(function(){
        if($(this).is(":checked")){
          name_list.push($(this).val())
        }
      });
    data ={}
    data['id']="{{dkp.id}}";
    data['time']="{{dkp.time}}";
    data['boss']=$("#boss").val();
    data['belong']=$('#dkp_list option:selected').val();
    data['dkp']=$("#dkp").val();
    $.ajax({
      type:"post",
      url :"/api/SaveAdd/",
      data: {"name_list":JSON.stringify(name_list),"data":JSON.stringify(data),'csrfmiddlewaretoken': csrf},
      datatype:"json",
      success:function(json){
          alert(json);
          location.reload();
          }
      })
  })
});
</script>
</body>
</html>
