{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Ares分数系统</title>
    <!--table-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://libs.cdnjs.net/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <script src="https://libs.cdnjs.net/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.6.0/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/rowgroup/1.1.1/js/dataTables.rowGroup.min.js"></script>
    <!--wowhead-->
    <script>var whTooltips = {colorLinks: true, iconizeLinks: true, renameLinks: true};</script>
    <script src="https://wow.zamimg.com/widgets/power.js"></script>
    <script src="{% static 'js/index.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/table.css' %}">
	<link rel="shortcut icon" href=" static/favicon.ico" />
</head>
<body>
<div class="container">
  <H1>Ares公会活动分数</H1>
  <div class="tab">
    <button class="tablinks" id="EPGP">MC</button>
    {% for i in dkp %}
    <button class="tablinks dkp" id="{{i.id}}">{{i.name}}</button>
    {% endfor %}
    <button class="tablinks tab" id="rules" >公会制度</button> 
    <button class="tablinks tab" id="notice" onclick="selectTab(event, 'noticeTab')">公告记录</button> 
  </div>

  <div class = "tab" id="TabEPGP" style="display:none">
    <button class="tablinks tab" onclick="selectTab(event, 'EpgpTab','score')">EPGP</button>
    <button class="tablinks tab" onclick="selectTab(event, 'EpgpAddTab','loot')">EPGP拾取记录</button>
    <button class="tablinks tab" onclick="selectTab(event, 'EpgpLootTab','add')">EPGP奖励记录</button> 
  </div>

  <div class = "tab" id="rulesList" style="display:none">
    <button class="tablinks dkp_rules" style="text-align: center;" onclick="window.open('rules/bwl')">BWL制度</button>
    <button class="tablinks dkp_rules" style="text-align: center;" onclick="window.open('rules/taq')">TAQ制度</button>
  </div>

  <div class = "tab" id="TabDKP" style="display:none">
    <button class="tablinks tab score" onclick="">DKP</button>
    <button class="tablinks tab add" onclick="">DKP拾取记录</button>
    <button class="tablinks tab loot" onclick="">DKP奖励记录</button> 
  </div>

  <div id="EpgpTab" class="tabcontent">
    <table id="epgpTable" class="display" style="width:100%">
      <thead>
        <tr>
            <th>名字</th>
            <th>职业</th>
            <th>EP</th>
            <th>GP</th>
            <th>PR</th>
        </tr>
      </thead>                 
      <tfoot>
        <tr>
            <th>名字</th>
            <th>职业</th>
            <th>EP</th>
            <th>GP</th>
            <th>PR</th>
        </tr>
      </tfoot>
    </table>
  </div>
  <div id="EpgpAddTab" class="tabcontent">
    <table id="EpgplogsTable" class="display" style="width:100%">
      <thead>
        <tr>
            <th>时间</th>
            <th>名字</th>
            <th>职业</th>
            <th>物品GP</th>
            <th>装备</th>
        </tr>
      </thead>                           
      <tfoot>
        <tr>
          <th>时间</th>
          <th>名字</th>
          <th>职业</th>
          <th>物品GP</th>
          <th>装备</th>
        </tr>
      </tfoot>
    </table>
  </div>
  <div id="DkpTab" class="tabcontent">
    <table id="dkpTable" class="display" style="width:100%">
      <thead>
        <tr>
            <th>名字</th>
            <th>职业</th>
            <th>DKP</th>
        </tr>
      </thead>                           
      <tfoot>
        <tr>
          <th>名字</th>
          <th>职业</th>
          <th>DKP</th>
        </tr>
      </tfoot>
    </table>
  </div>
  <div id="DkpLootTab" class="tabcontent">
    <table id="dkplogsTable" class="display" style="width:100%">
      <thead>
        <tr>
            <th style="width:20%">时间</th>
            <th style="width:20%">名字</th>
            <th>职业</th>
            <th>物品DKP</th>
            <th style="width:35%">装备</th>
        </tr>
      </thead>                           
      <tfoot>
        <tr>
          <th>时间</th>
          <th>名字</th>
          <th>职业</th>
          <th>物品DKP</th>
          <th>装备</th>
        </tr>
      </tfoot>
    </table>
  </div>
  <div id="EpgpLootTab" class="tabcontent">
    <table id="epgplogsTable1" class="display" style="width:100%">
      <thead>
        <tr>
            <th>奖励原因</th>
            <th>ep</th>
            <th>玩家数</th>
            <th>时间</th>
        </tr>
      </thead>                           
      <tfoot>
        <tr>
          <th>奖励原因</th>
          <th>ep</th>
          <th>玩家数</th>
          <th>时间</th>
        </tr>
      </tfoot>
    </table>
  </div>
  <div id="DkpAddTab" class="tabcontent">
    <table id="dkplogsTable1" class="display" style="width:100%">
      <thead>
        <tr>
          <th>奖励原因</th>
          <th>dkp</th>
          <th>玩家数</th>
          <th>时间</th>
        </tr>
      </thead>                           
      <tfoot>
        <tr>
          <th>奖励原因</th>
          <th>dkp</th>
          <th>玩家数</th>
          <th>时间</th>
        </tr>
      </tfoot>
    </table>
  </div>

  <div id="noticeTab" class="tabcontent">
    <table id="noticeTable" class="display" style="width:100%">
      <thead>
        <tr>
            <th style="width:20%">时间</th>
            <th>内容</th>
        </tr>
      </thead>                 
      <tfoot>
        <tr>
          <th style="width:20%">时间</th>
          <th>内容</th>
        </tr>
      </tfoot>
    </table>
  </div>

</div>
<div class="footer">
<a href="http://www.miitbeian.gov.cn">蜀ICP备20020462号</a>
		 	<div style="width:300px;margin:0 auto; padding:20px 0;">
		 		<a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=51070302110447" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="static/gongan.png" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">川公网安备 51070302110447号</p></a>
		 	</div>
		 
</div>
</body>

</html>
