{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Ares公会活动分数</title>
    <!--table-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://libs.cdnjs.net/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <script crossorigin="anonymous" integrity="sha384-fJU6sGmyn07b+uD1nMk7/iSb4yvaowcueiQhfVgQuD98rfva8mcr1eSvjchfpMrH" src="https://lib.baomitu.com/jquery/3.3.1/jquery.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.6.0/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/rowgroup/1.1.1/js/dataTables.rowGroup.min.js"></script>
    <!--wowhead-->
    <script>var whTooltips = {colorLinks: true, iconizeLinks: true, renameLinks: true};</script>
    <script src="https://wow.zamimg.com/widgets/power.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/table.css' %}">
	<link rel="shortcut icon" href=" static/favicon.ico" />
<html>
</head>
<body>
<div class="container">
  <H1>Ares - {{name}}</H1>
  <div class="tab">
    <a href="/"><button class="tablinks" >主页</button></a>
    {% for i in dkp %}
    <button class="tablinks dkp" id="{{i.id}}" onclick="selectTab(event, 'dkpLogsTab',{{i.id}})">{{i.name}}变化记录</button>
    {% endfor %}
    <button class="tablinks" onclick="selectTab(event, 'EpgpLogsTab')">EPGP变化记录</button>
  </div>
  <div id="EpgpLogsTab" class="tabcontent">
    <table id="EpgplogsTable" class="display" style="width:100%">
      <thead>
        <tr>
          <th>时间{{url_parts.domain}}</th>
          <th>名字</th>
          <th>ep变化</th>
          <th>gp变化</th>
          <th>奖励原因</th>
        </tr>
      </thead>                           
      <tfoot>
        <tr>
          <th>时间</th>
          <th>名字</th>
          <th>ep变化</th>
          <th>gp变化</th>
          <th>奖励原因</th>
        </tr>
      </tfoot>
    </table>
  </div>
  <div id="dkpLogsTab" class="tabcontent">
    <table id="dkplogsTable" class="display" style="width:100%">
      <thead>
        <tr>
          <th>时间</th>
          <th>名字</th>
          <th>DKP变化</th>
          <th>原因</th>
        </tr>
      </thead>                           
      <tfoot>
        <tr>
          <th>时间</th>
          <th>名字</th>
          <th>DKP变化</th>
          <th>原因</th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
<div class="footer"><a href="http://www.miitbeian.gov.cn">蜀ICP备20020462号</a>
		 	<div style="width:300px;margin:0 auto; padding:20px 0;">
		 		<a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=51070302110447" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="../static/gongan.png" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">川公网安备 51070302110447号</p></a>
		 	</div>
		 </div>

<script>
    function selectTab(event, name,e) {
        var i, tabcontent, tablinks;
        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(name).style.display = "block";
        if (event) {
            event.currentTarget.className += " active";
        }
        getdata(name,e)
    }

    function getdata(name,e){
      if(name == "EpgpLogsTab"){        
        var epgplogsTable = $('#EpgplogsTable').DataTable({
            pageLength: 50,
            retrieve: true,
            order: [ [ 0, 'desc' ] ],
            "ajax": {"url":"/ajax/Playerepgplog","data":{"name":"{{name}}"},},
            "columns":[
              {data:"time"},
              {data:"name"},
              {data:"ep"},
              {data:"gp"},
              {data:""}
            ],
            "columnDefs":[
              {
                "render":function (data,type,row){
                  if (row["item"]){
                    return '<a href="https://cn.classic.wowhead.com/item=' + row["item"] + '/" class="icontinyl q4" data-wh-icon-added="true" ><span></span></a>';
                  }
                  else if(!row["item"]){
                    return '<a href="/kill/epgp/' + row["activeID"] + '/"><span>击杀' + row["active"] + '</span></a>';
                  }
                  
                },
                "targets":4
              },
              {
                "render":function (data,type,row){
                  if (row["ep"]==0 && row['gp'] ==0){
                    return row["active"];
                  }
                  else if(row['ep']){
                    return "+" + row["ep"]
                  }else{return row['ep']}
                  
                },
                "targets":2
              },              
              {
                "render":function (data,type,row){
                  if (row["ep"]==0 && row['gp'] ==0){
                    return row["active"];
                  }
                  else if(row['gp']){
                    return "+" + row["gp"]
                  }else{return row['gp']}
                  
                },
                "targets":3
              },  
            ],
            //每行回调函数  
            "fnRowCallback": function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) { 
			                		//动态设置class属性
			                		$('td:eq(1)',nRow).attr("class",aData['class'])
			                },
        });   
        epgplogsTable.on( 'draw', function () {
            refreshLink();
        } ); 
      }
      else{
        var dkplogsTable = $('#dkplogsTable').DataTable({
            pageLength: 50,
            destroy:true,
            order: [ [ 0, 'desc' ] ],
            "ajax": {"url":"/ajax/Playerdkplog","data":{"name":"{{name}}","belong":e},},
            "columns":[
              {data:"time"},
              {data:"name"},
              {data:"dkp"},
              {data:""}
            ],
            "columnDefs":[
              {
                "render":function (data,type,row){
                  if (row["item"]){
                    return '<a href="https://cn.classic.wowhead.com/item=' + row["item"] + '/" class="icontinyl q4" data-wh-icon-added="true" ><span></span></a>';
                  }
                  else if(!row["item"]){
                    return '<a href="/kill/dkp/' + row["activeID"] + '/"><span>击杀' + row["active"] + '</span></a>';
                  }
                },
                "targets":3
              },
            ],
            //每行回调函数  
            "fnRowCallback": function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) { 
			                		//动态设置class属性
			                		$('td:eq(1)',nRow).attr("class",aData['class'])
			                },
        });      
        

        dkplogsTable.on( 'draw', function () {
            refreshLink();
        } );
      }
    }

    function refreshLink(){
        if(typeof $WowheadPower == 'undefined'){
            $.getScript('//wow.zamimg.com/widgets/power.js');
        } else {
            $WowheadPower.refreshLinks();
        }
    }


    $(document).ready(function () {
      selectTab(null, 'dkpLogsTab',1)
      $("#1").addClass("active")
    });
</script>
</body>
</html>
